<%# locals: (title: '', text: '', link: '#', color: 'danger') %>
<div class="card bg-<%= color %> rounded-2 border border-2 border-dark">
    <div class="card-body p-1">
        <h5 class="card-title text-center text-light mt-3"><%= title %></h5>
        <p class="card-text text-center text-secondary fw-lighter mb-1"><%= text %></p>
        <a href="<%= link %>" class="d-inline-block ms-1" target="_blank"><i class="bi bi-box-arrow-up-right text-light"></i></a>
    </div>
</div>
