<h1>Cher <%= @firstname %>,</h1>

<p>
  Nous avons bien reçu ta demande d'invitation à notre mariage et te remercions pour l'intérêt que tu portes à notre union.
</p>
<p>
  C'est avec plaisir que nous t'invitons à notre mariage !
  Nous serions ravis de te compter parmi nos invités et de partager ce jour spécial avec toi.
  Tu trouveras ci-joint l'invitation officielle avec tous les détails concernant la cérémonie et la réception.
</p>
<p>
  Avec toute notre affection,
  Jonathan et Paul
</p>
