<h1>Cher <%= @firstname %>,</h1>

<p>
  Nous avons bien reçu ta demande d'invitation à notre mariage et te remercions pour l'intérêt que tu portes à notre union.
</p>
<p>
  Nous te remercions pour ta demande.
  Nous te recontacterons très prochainement pour te confirmer si nous pouvons t'ajouter à la liste des invités.
</p>
<p>
  Avec toute notre affection,
  Jonathan et Paul
</p>
