<h1>Cher·ère <%= @firstname %>,</h1>

<p>
  Nous revenons à toi suite à ton intention de présence à notre mariage et te remercions encore une fois pour l'intérêt que tu portes a notre union.
</p>
<p>
  Nous te remercions sincèrement pour ta demande.
  Malheureusement, <%= @reason %>.
  Nous espérons que tu comprendras notre situation. Nous te souhaitons tout le meilleur.
</p>
<p>
  Avec toute notre affection,
  Jonathan et Paul
</p>
