<h1>Cher <% @firstname %>,</h1>

<p>
  Nous avons bien reçu ta demande d'invitation à notre mariage et te remercions pour l'intérêt que tu portes à notre union.
</p>
<p>
  Nous te remercions sincèrement pour ta demande.
  Malheureusement, <%= @reason %>.
  Nous espérons que tu comprendras notre situation. Nous te souhaitons tout le meilleur.
</p>
<p>
  Avec toute notre affection,
  Jonathan et Paul
</p>
