<div class="container-fluid p-0 mt-3">
    <div class="row">
        <div class="col">Fais avec <i class="bi bi-heart-fill text-danger"></i> par sa famille.</div>
        <div class="col text-end"><a href="https://github.com/jplot/jesuispaul" class="link-opacity-100 text-dark">Code source ouvert à la contribution sur <i class="bi bi-github text-dark"></i></a></div>
    </div>
</div>