<div class="container-fluid px-0 pt-3 pb-5">
    <div class="row g-2">
        <div class="col-1"></div>
        <div class="col">Fais avec <i class="bi bi-heart-fill text-danger"></i> par sa famille.</div>
        <div class="col text-end">
            <a href="https://github.com/jplot/jesuispaul" class="link-opacity-100 text-dark">
                Code source ouvert à la contribution sur <i class="bi bi-github text-dark"></i>
            </a>
        </div>
        <div class="col-1"></div>
    </div>
</div>